on:
  workflow_dispatch:
  schedule:
  - cron: 0 6 * * 1
  push:
    branches:
    - main
    paths:
    - .github/workflows/check-for-new-releases.yml
    - check-releases.sh

permissions:
  contents: read

name: Check for new releases of dependencies
jobs:
  dependency-releases:
    name: Check for new releases
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Clone dependencies
        shell: cmd
        run: clone-dependencies.cmd

      - name: Check releases
        shell: cmd
        run: check-releases.cmd
